/* BASE */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/spacing.css";
@import "./base/typography.css";

/* LAYOUT */
@import "./layout/container.css";
@import "./layout/section.css";
@import "./layout/grid.css";

/* COMPONENTS */
@import "/css/components.css/card.css";
@import "/css/components.css/button.css";
@import "/css/components.css/input.css";
@import "/css/components.css/navbar.css";
@import "/css/components.css/badge.css";
@import "/css/components.css/alert.css";
@import "/css/components.css/modal.css";
@import "/css/components.css/avatar.css";
@import "/css/components.css/divider.css";
@import "/css/components.css/list.css";
@import "/css/components.css/footer.css";