.hero {
  position: relative;
  min-height: 100vh; // desktop
  width: 100%;
  background-image: url("img/plantas.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
}
/*.hero-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(
    to bottom,
    rgba(253, 243, 234, 0) 0%,
    #fdf3ea 85%
  );
  z-index: 1;
  pointer-events: none;
}
*/
.hero-content {
  position: relative;
  padding-bottom: 4rem;
  z-index: 2;
}

.hero h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(3.6rem, 5vw, 4rem);
  line-height: 1.1;
  margin-bottom: 1rem;
}

.hero p {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  max-width: 420px;
  opacity: 0.9;
}
