:root {
  /* Verdes principales */
  --pg-green-dark: #0f2a1d; // fondo profundo
  --pg-green-mid: #1f4d3a; // overlays / navbar
  --pg-green-soft: #3f6f5a; // detalles

  /* Arena / tierra */
  --pg-sand: #e7e2d6;

  /* Texto */
  --pg-text-light: #f5f7f4;
  --pg-text-muted: #cfd8d3;
  color: rgb(67, 93, 21);
}
