.input {
  width: 100%;
  padding: var(--space-2) var(--space-3);

  font-size: 1rem;
  color: var(--color-text);

  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 0.375rem;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.input:disabled {
  background-color: #f8fafc;
  cursor: not-allowed;
}
